* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  border: 1px solid #000;  */
}

.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 4rem 30rem;
  gap: 1rem;
  height: 100vh;
  padding: 2rem;
  /*  border: 1px solid #000;  */
}

.top-nav {
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.left-nav {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.left-nav_list {
  list-style-type: none;
}

.left-nav_list > li {
  color: white;
  padding: 1rem 3rem;
  background-color: blue;
  border-radius: 12px;
  margin: 2rem;
}

.left-nav_list > li:hover {
  color: blue;
  background-color: white;
  border: 1px solid;
}

.page-content {
  background-color: lightsalmon;
}
