* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

h1 {
  padding-bottom: 1rem;
}

.empty {
  border-radius: 40px 0 0 0;
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 4rem 30rem 4rem;
  gap: 0.5rem;
  height: 100vh;
  padding: 2rem;
}

header {
  outline: 1px solid black;
  background-color: rgb(194, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

nav {
  outline: 1px solid black;
  background-color: rgb(194, 193, 193);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

nav > ul {
  list-style-type: none;
}

ul > li {
  color: white;
  padding: 0.8rem 2.5rem;
  background-color: rgb(91, 91, 91);
  border-radius: 6px;
  margin: 1.5rem;
}

ul > li:hover {
  color: rgb(91, 91, 91);
  background-color: white;
}

.page-content {
  outline: 1px solid black;
  background-color: rgb(194, 193, 193);
  padding: 2rem 1.5rem;
}

p.padding-bottom {
  padding-bottom: 1.2rem;
}

footer {
  border-radius: 0 0 40px 0;
  outline: 1px solid black;
  background-color: rgb(194, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}
